<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #fda117;">
  <div class="container p-0 h3" >
    <a class="navbar-brand" href="">
      <img src="{{ ((resources.Get "images/banan.jpg").Fill "36x30").RelPermalink}}" alt="" > Bananaz
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         {{- $currentPage := . -}}
         {{ range .Site.Menus.main -}}
         <li class="nav-item">
           <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active" aria-current="page{{ end }}" href="{{ .URL }}">
           {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
           </a>
         </li>
         {{ end -}}
        </ul>
      </div>
    </div>
</nav>